{
	"env": {
		"browser": true,
		"node"   : true,
		"amd"    : true
	},
	"globals": {
		"Constants": false,
		"ENV"      : false
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"extends": [
		"eslint:recommended",
		"plugin:vue/recommended"
	],
	"rules": {
		"no-console"         : 0,
		"no-unused-vars"     : [2, {"vars": "all", "args": "none"}],
		"no-warning-comments": [1, { "terms": ["todo", "fixme"], "location": "anywhere" }],
		"no-global-assign"   : ["error"]
	}
}