<!doctype html>

<html lang="en">
	<head>
		<title>Checkers</title>

		<!-- Material design -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="pragma" content="no-cache">
		<meta name="description" content="Checkers game made in Vue.js">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="google" content="notranslate"/>

		<!-- OGP meta -->
		<meta property="og:title" content="Checkers">
		<meta property="og:description" content="Checkers game made in Vue.js">
		<meta property="og:image" content="/assets/appicon-48.png">
		<meta property="og:url" content="https://checkers-2be5c.firebaseapp.com/">
		<meta property="og:type" content="website">

		<!-- Icons -->
		<link rel="icon" type="image/png" href="/assets/appicon-48.png" />

		<!-- Manifest -->
		<link rel="manifest" href="/manifest.json">

		<!-- Web-app-capable -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="mobile-web-app-capable" content="yes">
	</head>

	<body>
		<div id="app"></div>
	</body>
</html>